<a href="/dashboard" style="color: blue;"> &larr; Back to dashboard</a>
 
<article class="post">
  <div class="title">
    Edit Post
  </div>
  <div class="content">
    <form class="edit-post-form">
    <div>
      <label for="post-title">Title</label>
      <input name="post-title" type="text"  style="width: 100%;" value="{{post.title}}" />
    </div>
    <div>
      <label for="post_text">Post</label>
      <textarea name="post_text" id="post_text" style="width: 100%;">{{post.post_text}}</textarea>
    </div>
    <div>
     Created by you on {{format_date post.created_at}}
    </div>
    <button type="submit">Save post</button>
    <button type="button" class="delete-post-btn">Delete post</button>
  </div>
</article>
{{#if loggedIn}}
<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
{{/if}}